.screen-container {
  display: flex;
  min-height: 100vh;
}
.navbar,
.content,
.footer {
  padding: 1rem 4rem;
}
.navbar,
.footer {
  background: linear-gradient(135deg, #2c4736, #1a2b22);
  color: white;
}
/* Navbar Styling */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  z-index: 1000;
}
/* Logo */
.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 5rem;
  cursor: pointer;
}
.logo-text {
  font-size: 1rem;
  font-weight: "Lato-Black";
}

/* Navigation Menu */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  display: inline;
}

.nav-menu a {
  text-decoration: none;
  color: #fcfcfc;
  font-size: 0.9rem;
  transition: color 0.3s ease-in-out;
}

.nav-menu a:hover {
  color: #dfbb82;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  font-size: 1rem;
  cursor: pointer;
}
/* Content style */
.content {
  display: flex;
  background-color: #fcfcfc;
  flex: 1;
}
/* Footer style */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  font-size: 0.9rem;
}
.footer-container-left,
.footer-container-right {
  color: #c0c8c3;
  flex: 1;
}

.footer-container-left:hover,
.footer-container-right > span:hover {
  color: #f4e8d5;
  cursor: pointer;
}
.footer-container-right {
  display: flex;
  gap: 0.6rem;
}

/* slideshow styles */
.slideshow-container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0rem;
}

.slide {
  position: relative;
  text-align: center;
}

.slide img {
  width: 100%;
  height: 60vh; /* Adjust height as needed */
  object-fit: cover; /* Ensure images cover the slide area */
  border-radius: 0.6rem;
}

.slide-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
}

/* Customize slick carousel dots */
.slick-dots {
  bottom: 1rem;
}

.slick-dots li button:before {
  color: white; /* Dot color */
}

.slick-dots li.slick-active button:before {
  color: #ff6347; /* Active dot color */
}

/* Customize arrows */
.slick-prev,
.slick-next {
  z-index: 1;
  width: 1rem;
  height: 1rem;
}

.slick-prev:before,
.slick-next:before {
  color: #ff6347; /* Arrow color */
  font-size: 1rem;
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}

.article-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.article-description {
  margin: 10px 0;
  font-size: 16px;
}

.article-date {
  margin: 0;
  font-size: 14px;
  color: #ccc;
}

.read-more-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.read-more-button:hover {
  background-color: #ff4500;
}

/* SOCIALS STYLES */
.socials-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.socials-left-line,
.socials-right-line {
  height: 0.1rem;
  background-color: #444;
  flex: 1;
}
.social-icons {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}
.social-icon {
  width: 2rem;
  height: 2rem;
  color: #444;
}

/* ARTICLE CARD STYLING */

/* Section Styling */
.scrollable-cards-section,
.leadership-profile-cards-section {
  max-width: 100%;
  margin: 0 auto;
}

.section-header,
.leadership-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4rem;
}

.section-title,
.leadership-section-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.section-subtitle .leadership-section-subtitle {
  font-size: 1rem;
  color: #666;
  margin: 0 0 1.4rem 0;
}

.view-all-button,
.leadership-view-all-button {
  padding: 0.4rem .8rem;
  background-color: #cf9943;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: .7rem;
  font-family: 'Lato-Bold';
}

.view-all-button:hover,
.leadership-view-all-button:hover {
  background-color: #654717;
}

/* Cards Container Styling */
.article-cards-container,
.leadership-cards-container {
  display: flex;
  overflow-x: auto;
  gap: 1.4rem;
  padding-bottom: 1.4rem; /* Space for scrollbar */
}

/* Hide scrollbar */
.article-cards-container::-webkit-scrollbar,
.leadership-cards-container::-webkit-scrollbar {
  display: none;
}

/* Card Styling */
.article-card,
.leadership-card {
  flex: 0 0 20rem; /* Fixed width for each card */
  background: #fff;
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: none;
}

.article-card-image,
.leadership-card-image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.article-card-content,
.leadership-card-content {
  padding: 0.8rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.article-card-title,
.leadership-card-fullname {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 0.6rem 0;
}

.article-card-description,
.leadership-card-description {
  font-size: 0.9rem;
  color: #666;
  margin: 0 0 0.6rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-card-date,
.leadership-card-job-role {
  font-size: 0.9rem;
  color: #999;
  margin: 0 0 0.4rem 0;
}

.article-read-more-button,
.leadership-read-more-button {
  padding: 0.3rem .7rem;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 0.7rem;
  align-self: flex-start;
  margin-top: auto;
}

.read-more-button:hover,
.leadership-read-more-button:hover {
  background-color: #ff4500;
}

/* PRIVACY POLICY and TERMS AND CONDITIONS */
.privacy-policy,
.terms-and-conditions {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.6;
  color: #333;
  /* background-color: #f9f9f9; */
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Header Styling */
.privacy-header,
.terms-header {
  text-align: left;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.privacy-header h1,
.terms-header h1 {
  font-size: 1.6rem;
  color: #2c3e50;
  margin-bottom: 1rem;
}

.privacy-header p,
.terms-header p {
  font-size: 1rem;
  color: #666;
}

/* Section Styling */
.privacy-section,
.terms-section {
  margin-bottom: 1rem;
  padding: 1.2rem;
  background-color: #fcfcfc;
  border-radius: 0.2rem;
  box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.privacy-section:hover,
.terms-section:hover {
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.privacy-section h2,
.terms-section h2 {
  font-size: 0.9rem;
  color: #34495e;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.privacy-section h2 .arrow,
.terms-section h2 .arrow {
  font-size: 0.1rem;
  color: #3498db;
}

.privacy-section-content,
.terms-section-content {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #555;
  padding: 0 1.2rem;
}

.privacy-section-content ul,
.terms-section-content ul {
  margin-bottom: 0.2rem;
  padding-left: 1.6rem;
}

.privacy-section-content ul li,
.terms-section-content ul li {
  margin-bottom: 0.2rem;
  color: #555;
}

/* Contact Info Styling */
.privacy-contact-info,
.terms-contact-info {
  background-color: #f9f9f9;
  padding: 0.4rem;
  border-radius: 0.4rem;
  margin-top: 0.1rem;
}

.privacy-contact-info p,
.terms-contact-info p {
  margin: 0;
  font-size: 0.9rem;
  color: #333;
}

.privacy-contact-info a,
.terms-contact-info a {
  color: #3498db;
  text-decoration: none;
}

.privacy-contact-info a:hover,
.terms-contact-info p:hover {
  text-decoration: underline;
}


/* ARTICLES AND LEADERS*/
.all-articles-articles-page, .leaderset-page  {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.all-articles-articles-header, .leaderset-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.all-articles-articles-header h1, .leaderset-header h1 {
  font-size: 1.6rem;
  color: #333;
  text-align: left;
}

.all-articles-back-button, .leaderset-back-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.all-articles-back-button:hover, .leaderset-back-button:hover {
  background-color: #0056b3;
}

/* Articles & Leaders Grid */
.all-articles-articles-grid, .leaderset-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.all-articles-article-card, .leaderset-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.all-articles-article-card:hover, .leaderset-card:hover {
  transform: translateY(-5px);
}

.all-articles-article-image, .leaderset-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.all-articles-article-content, .leaderset-card-content {
  padding: 15px;
}

.all-articles-article-title, .leaderset-card-fullname {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.all-articles-article-description, .leaderset-card-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.all-articles-article-date, .leaderset-card-job-role {
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 15px;
}

.all-articles-read-more-button, .leaderset-read-more-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.all-articles-read-more-button:hover, .leaderset-read-more-button:hover {
  background-color: #218838;
}

/* Modal Styles */
.article-modal, .leaderset-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  outline: none;
}

.article-modal-overlay, .leaderset-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.article-modal-content h2, .leaderset-modal-content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.article-modal-date, .leaderset-modal-job-role {
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 15px;
}

.article-modal-image, .leaderset-modal-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
}

.article-modal-full-content, .leaderset-modal-full-details {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.article-close-modal-button, .leaderset-close-modal-button {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 15px;
}

.article-close-modal-button:hover, .leaderset-close-modal-button:hover {
  background-color: #c82333;
}























/* LOGO GLITCH */
.glitch-container {
  background: linear-gradient(135deg, #2c4736, #1a2b22);
}
.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(33, 33, 33, 0);
}

.glitch {
  position: relative;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #d5dad7;
  letter-spacing: 0.2rem;
  z-index: 1;
}

.glitch:before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: -0.125rem;
  width: 100%;
  color: #ca8e2e;
  background-color: transparent;
  overflow: hidden;
  clip: rect(0, 56.25rem, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0.125rem;
  width: 100%;
  color: #d5dad7;
  background-color: rgba(33, 33, 33, 0);
  overflow: hidden;
  clip: rect(0, 56.25rem, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
  0% {
    clip: rect(61px, 9999px, 52px, 0);
  }

  5% {
    clip: rect(33px, 9999px, 144px, 0);
  }

  10% {
    clip: rect(121px, 9999px, 115px, 0);
  }

  15% {
    clip: rect(144px, 9999px, 162px, 0);
  }

  20% {
    clip: rect(62px, 9999px, 180px, 0);
  }

  25% {
    clip: rect(34px, 9999px, 42px, 0);
  }

  30% {
    clip: rect(147px, 9999px, 179px, 0);
  }

  35% {
    clip: rect(99px, 9999px, 63px, 0);
  }

  40% {
    clip: rect(188px, 9999px, 122px, 0);
  }

  45% {
    clip: rect(154px, 9999px, 14px, 0);
  }

  50% {
    clip: rect(63px, 9999px, 37px, 0);
  }

  55% {
    clip: rect(161px, 9999px, 147px, 0);
  }

  60% {
    clip: rect(109px, 9999px, 175px, 0);
  }

  65% {
    clip: rect(157px, 9999px, 88px, 0);
  }

  70% {
    clip: rect(173px, 9999px, 131px, 0);
  }

  75% {
    clip: rect(62px, 9999px, 70px, 0);
  }

  80% {
    clip: rect(24px, 9999px, 153px, 0);
  }

  85% {
    clip: rect(138px, 9999px, 40px, 0);
  }

  90% {
    clip: rect(79px, 9999px, 136px, 0);
  }

  95% {
    clip: rect(25px, 9999px, 34px, 0);
  }

  100% {
    clip: rect(173px, 9999px, 166px, 0);
  }
}

@keyframes noise-after {
  0% {
    clip: rect(26px, 9999px, 33px, 0);
  }

  5% {
    clip: rect(140px, 9999px, 198px, 0);
  }

  10% {
    clip: rect(184px, 9999px, 89px, 0);
  }

  15% {
    clip: rect(121px, 9999px, 6px, 0);
  }

  20% {
    clip: rect(181px, 9999px, 99px, 0);
  }

  25% {
    clip: rect(154px, 9999px, 133px, 0);
  }

  30% {
    clip: rect(134px, 9999px, 169px, 0);
  }

  35% {
    clip: rect(26px, 9999px, 187px, 0);
  }

  40% {
    clip: rect(147px, 9999px, 137px, 0);
  }

  45% {
    clip: rect(31px, 9999px, 52px, 0);
  }

  50% {
    clip: rect(191px, 9999px, 109px, 0);
  }

  55% {
    clip: rect(74px, 9999px, 54px, 0);
  }

  60% {
    clip: rect(145px, 9999px, 75px, 0);
  }

  65% {
    clip: rect(153px, 9999px, 198px, 0);
  }

  70% {
    clip: rect(99px, 9999px, 136px, 0);
  }

  75% {
    clip: rect(118px, 9999px, 192px, 0);
  }

  80% {
    clip: rect(1px, 9999px, 83px, 0);
  }

  85% {
    clip: rect(145px, 9999px, 98px, 0);
  }

  90% {
    clip: rect(121px, 9999px, 154px, 0);
  }

  95% {
    clip: rect(156px, 9999px, 44px, 0);
  }

  100% {
    clip: rect(67px, 9999px, 122px, 0);
  }
}
